.nav {
    height: 100%;
    width: 100%; /* Largura do menu */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0; /* Posição à esquerda */
    background-color: #b9caf8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 5%px;
  }
  
  .nav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
   

  }
  

  .nav a:hover {
    color: #f1f1f1;
  }
  
  .nav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  /* Responsiveness */
  @media screen and (max-height: 450px) {
    .nav {padding-top: 15px;}
    .nav a {font-size: 18px;}
  }


  .mat-icon, .icon {
    /* Configuração atual dos eixos variáveis ​​aos ícones */
    font-variation-settings: 'FILL' 0.5, 'GRAD' 300;
    /* Outras propriedades de estilo */
    color: blue;
    font-size: 24px;
  }